<ion-grid>
    <ion-row>
        <ion-col class="ion-text-center">
            <ion-icon name="model icon" color="color"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-text-center">
            {{model?.title}}
            <ion-label>{{model?.subTitle}}</ion-label>
        </ion-col>
    </ion-row>
</ion-grid>