<ion-content [fullscreen]="true">
    <ion-spinner class="ion-text-center" name="crescent" *ngIf="isLoading"> </ion-spinner>
    <div class="circleBase type2 circle1"></div>
    <div class="circleBase type1"></div>
    <div class="circleBase type2 circle2"></div>

    <ion-label class="welcomeMessage">
        <ion-text color="light">Hello,</ion-text>
        <ion-text color="white">
            <p>Sign Up!</p>
        </ion-text>
    </ion-label>

    <ion-icon name="arrow-back-outline" color="white" class="backButton" routerLink="/home">
    </ion-icon>

    <form [formGroup]="signupForm">
        <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
            <ion-item class="ion-margin-vertical">
                <ion-icon name="person-outline" slot="end" color="medium">
                </ion-icon>
                <ion-input formControlName="username" placeholder="Enter Username">
                </ion-input>
            </ion-item>
            <ion-text class="ion-text-left" color="danger" *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">
                <p class="error">*Please enter Username</p>
            </ion-text>

            <ion-item class="ion-margin-vertical">
                <ion-icon name="mail-outline" slot="end" color="medium">
                </ion-icon>
                <ion-input formControlName="email" placeholder="Enter Email Address">
                </ion-input>
            </ion-item>
            <ion-text class="ion-text-left" color="danger" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
                <p class="error">*Please enter proper Email Address</p>
            </ion-text>

            <ion-item class="ion-margin-vertical">
                <ion-icon (click)="onChange()" [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'" slot="end" [color]="isTypePassword ? 'medium' : 'primary'">
                </ion-icon>
                <ion-input formControlName="password" [type]="isTypePassword ? 'password' : 'text'" placeholder="Enter Password">
                </ion-input>
            </ion-item>
            <ion-text class="ion-text-left" color="danger" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
                <p class="error" *ngIf="signupForm.get('password').invalid && signupForm.get('password').errors
                ['required']">
                    *Please enter your Password
                </p>
                <p class="error" *ngIf="signupForm.get('password').dirty">
                    *Password must be of atleast 8 characters
                </p>
            </ion-text>

            <ion-row class="ion-margin-vertical">
                <ion-col size="12" class="alignItems">
                    <div align=left>
                        <ion-checkbox></ion-checkbox>
                        <ion-note>I accept the policy and terms</ion-note>
                    </div>
                </ion-col>
            </ion-row>
            <ion-button *ngIf="!isLoading" color="primary" shape="round" (click)="onSubmit()">Sign Up</ion-button>
            <ion-button fill="clear" *ngIf="isLoading">
                <ion-spinner name="crescent" color="primary"></ion-spinner>
            </ion-button>
        </ion-list>
    </form>
</ion-content>