<ion-item lines="none" [class]="chat?.sender != current_user_id ? 'sender' : 'user'">
    <ion-label [slot]="chat?.sender == current_user_id ? 'end' : 'start'" class="ion-text-wrap">
        <ion-text>{{chat?.message}}</ion-text>
        <ion-note>
            <small>{{(chat?.createdAt)?.toDate() | date: 'HH:mm'}}</small>
            <ion-icon [color]="chat?.sender == current_user_id ? 'light' : 'primary'" name="checkmark-done-outline"></ion-icon>
        </ion-note>
    </ion-label>
</ion-item>