::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

ion-content {
    overflow: hidden;
    --overflow: hidden;
}

.scroll-content {
    overflow: hidden;
}

ion-list {
    background: transparent;
    transform: translateY(20vh);
    ion-item {
        border: 1px solid var(--ion-color-medium);
        border-radius: 10px;
    }
    ion-row {
        margin-bottom: 5vh;
    }
    ion-button {
        width: 30vh;
        margin: auto;
    }
    .alignItems {
        ion-checkbox,
        ion-note {
            display: inline-block;
            vertical-align: middle;
        }
        ion-checkbox {
            margin-right: 1vw;
            --size: 1.1rem;
        }
    }
    .signup {
        margin-top: 5vh;
        font-size: 0.8rem;
    }
    ion-col {
        ion-note {
            font-size: 0.85rem;
        }
    }
}